/* Campaign */

strong {
	font-family : opensansbold;
}

.act-tel-dashboard-left .campaign{
	text-decoration : none !important;
}

.act-tel-dashboard-left h2 color{
	color : #2852a3;
}

.act-tel-tab .campaign {
	padding : 15px 30px;
	border-radius : 20px;
	width : 100%;
	margin-bottom : 10px;
}

.act-tel-tab .campaign .col-card {
	text-align : left;
	font-size : 14px;
}

.act-tel-tab .campaign .notes {
	margin-top : 5px;
	text-transform : capitalize;
}

.act-tel-tab .campaign .notes b {
	font-family : opensansbold;
}

.act-tel-tab .campaign .notes color {
	color : #2651a4;
	font-family : opensansbold;
}

.act-tel-tab .campaign .notes color .gr, color .gr{
	color : #006d4d !important;
}

.act-tel-tab .campaign color .og {
	color : #f26522;
}

.act-tel-tab .campaign .col-card h5 {
	margin-bottom : 0;
	padding : 0;
	font-family : opensansbold;
	font-size : 16px;
}

.act-tel-tab .campaign .cardnumber{
	text-align : center;
	color : #0d2c4c;
}

.act-tel-tab .campaign .cardnumber .big-number {
	font-size : 24px;
	font-family : opensansbold;
	padding : 10px 0;
	line-height : 20px;
}

.act-tel-tab .campaign .cardnumber .contact {
	font-size : 14px;
	font-family : opensanssemibold;
}

.act-tel-tab .campaign .col-button {
	text-align : center;
	padding-top : 18px;
	color : #fff;
}

.act-tel-tab .campaign .col-button .btn-warning {
	background-color : #f26522;
    color: #fff;
    padding: 0px 6px;
    font-size: 19px;
    border-radius: 5px;
}

/* Create - Campaign */

.act-tel-campaign {
	font-family : opensans;
	font-size : 16px;
	padding : 15px;
	padding-bottom : 0;
}

.act-tel-campaign form,.actcampaign_form {
	padding : 15px;
	margin-left : 0;
	padding-bottom : 0;
	max-width : 1000px;
}

.act-tel-campaign textarea {
	min-height : 150px;
}

.act-tel-campaign .form-control {
	background-color : #e8e9f5;
	border : none;
}

.act-tel-campaign .form-check {
	padding-top : 3px;
}

.act-tel-campaign .custom-select-campaign , .act-tel-campaign .relativity {
	max-width : 400px;
}

.act-tel-campaign .icon-carret-down-circle,.act-tel-campaign .icon-calendar, #edit_event_date > .relativity .icon-calendar {
	position: absolute;
    font-size: 20px;
    top: 0;
    right: 0;
    margin-right: 22px;
    margin-top: 7px;
    color: #31307c;
}

.act-tel-campaign .btn-custom {
	background-color : #05ac67;
	color : #fff;
	font-family : opensansbold;
}


/* table */

.act-tel-campaign table {
	max-width : 1000px;
}

.act-tel-campaign table thead tr th {
	border-bottom : 1px solid #000;
}

.act-tel-campaign table tbody .icon {
	font-size : 20px;
}

.act-tel-campaign table tbody .icon-delete {
	color : #ed1f24;
}

.act-tel-campaign table tbody .icon-edit {
	color : #717272;
}

.act-tel-campaign table tbody .icon-edit:hover {
	color : #086ea0;
}

/* Board */

.act-tel-campaign .board {
	background-color : #322e7c;
	font-size : 18px;
	padding : 5px 0;
	color : #fff;
	margin-top : 1.5rem;
	margin-left : auto;
	margin-right : auto;
}

.act-tel-campaign .board .left {
	float : left;
	padding-left : 15px;
}

.act-tel-campaign .board .right {
	float : right;
	color : #fff;
	padding-right : 15px;
}

.act-tel-campaign .board .right .icon {
	margin-right : 10px;
}

.act-tel-campaign .board .right .icon-carret-down-circle {
	color : #fff;
	font-size: inherit;
    position: relative;
}

.act-tel-campaign .slide_message {
	background : #e8e9f5;
	color: #31307c;
	margin : 0 auto;
	padding : 1rem;
	text-align : justify;
	word-wrap: break-word;
}


/* Misc */

.bootstrap-datetimepicker-widget {
	background : #fff !important;
}

.btn-test{
	background-color : #31307C;
	color:#fff;
}

@media(min-width : 576px)
{
	.col-test{
		padding :0;
	}
}

@media(max-width : 575px)
{
	.col-test{
		margin-top : 3px;
	}

	.act-tel-tab .campaign {
		padding : 25px;
	}

	.act-tel-dashboard-left,.act-tel-dashboard-right{
		float:none;
	}
}

@media(max-width : 359px)
{
	.act-tel-campaign .board .left, .act-tel-campaign .board .right{
		float : none;
		padding : 5px 15px;
		text-align : center;
	}
}