.relativity {
    position : relative;
}

.custom-select {
    border: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-select option {
    color:#424146;
    background:#ffffff;
}
