/* DASHBOARD */

.act-tel-dashboard {
	padding-left : 30px;
	padding-right : 60px;
}

.automation-dashboard{
	padding-left : 30px;
	padding-right : 60px;
  margin-top:30px;
  margin-bottom:20px;
  .act-tel-dashboard-left{
    margin-right : 10px;
  }
  .status{
    margin-top : 5px;
    margin-left:15px;
    font-size : 16px;
    font-family: opensans;
    .down{
      color: #ed1f24;
    }
  }
}

.act-tel-dashboard-left {
	font-family : opensansbold;
	float : left;
}

.act-tel-dashboard-left h2 {
	text-decoration : underline;
}

.act-tel-dashboard-right {
	font-family : opensans;
	float : right;
	font-size : 14px;
}

.act-tel-dashboard-right b {
	font-family : opensansbold;
	text-transform : uppercase;
}

.act-tel-dashboard-right i {
	font-family : opensansbolditalic;
	color : #ed1f24;
}

.act-tel-dashboard-right .btn-custom {
	color : #fff !important;
	background-color : #0cac67;
	font-family : opensanssemibold;
}

.act-tel-dashboard .view-campaign {
	padding : 30px;
}

/* NUMBER */

.act-tel-number {
	margin : 30px auto;
}

.act-tel-number a {
	color : #fff;
}

.act-tel-number-left, .act-tel-number-right {
	padding : 0px 80px;
	padding-top : 60px;
	padding-bottom : 30px;
	font-size : 72px;
	color : #fff;
	font-family : opensansbold;
	line-height : 25px !important;
	text-align: center;
	border-radius : 10px;
}

.act-tel-number-left small, .act-tel-number-right small {
	font-size : 14px;
	color : #fff !important;
}

.act-tel-number-left{
	margin-right : 5px;
	background : #2cb06a;
}

.act-tel-number-right {
	margin-left : 5px;
	background : #f99f1b;
}


/* List Dashboard */

.act-tel-bg-list {
	background-color : #fff;
}

.act-tel-list {
	padding : 30px;
	margin-bottom : 40px;
}

.act-tel-list-board {
	background-color : #322e7c;
	font-size : 24px;
	padding : 5px 0;
	color : #fff;
}

.act-tel-list-left {
	float : left;
	font-family : opensansbold;
	padding-left : 15px;
}

.act-tel-list-right {
	float : right;
	color : #fff;
	padding-right : 15px;
}

.act-tel-list-left-col {
	text-align : left;
}

.act-tel-list-left-col b {
	font-family : opensanssemibold;
	font-size : 42px;
}

.act-tel-list .big-number {
	font-size : 72px;
	font-family : opensansbold;
	line-height : 50px;
	color : #0d2c4c;
	padding : 10px 0;
}

.act-tel-list-left-col .contact {
	font-size : 17px;
	margin-top : 5px;
}

.act-tel-list-left-col .col-number {
	font-size : 20px;
}

.act-tel-list-m-list {
	margin-top : -5px;
}

.act-tel-list-left-col .btn-custom {
	padding: 12px;
    color: #fff;
    border: 0;
    background-color: #2daf6a;
    font-size: 18px;
    width: 100%;
    max-width : 275px;
    margin-top : 15px;
}

/*Google Form Script Generator CSS*/
#div-result-script{
  position : relative;
  span{
    position:absolute;
    top:2px;
    right:5px;
  }
}

@media(max-width : 767px)
{
	.act-tel-dashboard-left,.act-tel-dashboard-right{
		float : none;
	}
}

@media(max-width : 480px)
{
	.act-tel-dashboard-left h2{
		font-size : 1.5rem;
	}
}