/* Create Lists */

.act-tel-create-list {
	margin-top: 30px;
    border-radius: 20px;
    text-align: center;
    padding: 60px 15px;
}

.form-check{
  text-align:left;
}

.link_wrap{
  font-size:12px;  
}

.listname {
	font-size : 24px;
}

.act-tel-create-list h3 {
	font-family : opensansbold;
	color : #322f7c;
}

.act-tel-create-list .custom-form {
	border: 1px solid #322f7c;
	border-radius: 10px;
}

.act-tel-create-list .custom-form::placeholder {
	color : #ed1f24;
	font-family : opensans;
}

.act-tel-create-list .btn-custom, .act-tel-tab .btn-custom {
	color : #fff;
	background-color : #13ad67;
	text-transform : uppercase;
}

.act-tel-tab .btn-dropdown {
	background : #f99f1e;
	border : 0;
	color : #fff;
}

.act-tel-tab .dropdown-item {
	color : #fff !important;
	padding-top : 10px;
	padding-bottom : 10px;
}

.act-tel-tab .dropdown-item:hover {
	background : #086ea0;
	color : #f9ed24 !important;
}

.act-tel-create-list form{
	max-width: 500px;
	margin-left: auto;
    margin-right: auto;
}

.act-tel-create-list .fa-question-circle {
	margin-left : -3px;
	cursor : pointer;
}

.act-tel-create-list .fa-question-circle:hover {
	color : #086ea0;
}

/* Lists - Contact */

.act-tel-list-data {
	padding-left : 30px;
	padding-right : 60px;
}

.act-tel-list-data .left {
	font-family : opensansbold;
	float : left;
	color : #ed1f24;
}

.act-tel-tab {
	text-align : center;
	padding : 1rem;
}

.act-tel-tab h2, .act-tel-tab h6 a {
	font-family : opensansbold;
	text-transform : uppercase;
}

.act-tel-tab h6 a {
	color : #30317c !important;
}

.act-tel-tab .table-bordered, .table-bordered td, .table-bordered th{
	border : 1px solid #2b2b2b;
}

.act-tel-tab .table thead th {
	border-bottom : 1px solid #2b2b2b;
}

.act-tel-tab .link_wrap {
	word-wrap: break-word;
}

.act-tel-tab .icon-carret-down-circle {
	position: absolute;
    font-size: 16px;
    top: 0;
    right: 0;
    margin-right: 22px;
    margin-top: 10px;
    color: #31307c;
}

/* Lists - Add Contact */

.act-tel-tab .wrapper, .act-tel-tab .outer-wrapper {
	max-width : 600px;
	margin-left : auto;
	margin-right : auto;
}

.act-tel-tab .message, .act-tel-tab .mimport {
	background : #f99f1e !important;
	border-radius : 0;
	display : none;
    color: #fff;
}

.act-tel-tab .mimport {
    display : block;
}

.act-tel-tab .add-contact {
	text-align : left;
	margin-top: 1rem;
}

.act-tel-tab label {
	font-size : 18px;
	font-family : opensanssemibold;
}

.act-tel-tab .wrapper label {
	font-family : opensansbold;
	text-transform : uppercase;
}

.act-tel-tab .wrapper textarea {
	min-height : 150px;
}

.act-tel-tab .form-control, .act-tel-tab .edit-icon, .act-tel-tab .form-control-lg {
	background-color : #d2d2ea;
}

.act-tel-tab .form-control-lg {
	border : 0 !important;
	border-radius : 0;
}

.act-tel-tab .btn-custom {
	text-transform : none;
}

.act-tel-tab i {
	/* Jangan dibuka remark ini, buat class lain, karena icon jadi ngga keluar font-family : opensanslight_italic;*/
	font-size : 20px;
}

.act-tel-tab .icon-copy {
	color : #30317c !important;
}

.act-tel-tab sb {
	font-family : opensanssemibold;
}

/* List -- Form */

.act-tel-tab .form-contact {
	margin-top : 1rem;
}

.act-tel-tab .form-contact .form-control::placeholder {
	font-family : opensans;
}

.act-tel-tab .edit-icon {
	padding-top : 7px;
	padding-right : 7px;
	cursor : default !important;
}

.act-tel-tab .icon-edit {
	color : #fff;
	background : #30307c;
	border-radius : 6px;
}

.act-tel-tab .edit.icon-edit {
	font-size : 10px;
	padding : 5px;
	border-radius : 50%;
	color : #fff;
}

.act-tel-tab .edit.icon-edit:hover {
	color : #30317c;
	background : transparent;
	border : 1px solid #30317c;
}

.act-tel-tab .btn-edit {
	color : #fff;
	background : #30317c;
	border-radius : 4px;
}

.act-tel-tab .outer-wrapper {
	max-width : 720px;
}

.act-tel-tab .outer-wrapper .btn-form {
	color: #fff;
    background-color: #30317c;
    padding-left : 20px;
    padding-right : 20px;
}

.act-tel-tab .outer-wrapper .icon-carret-down-circle {
	margin-right: 11px;
	margin-top: 10px;
    position: absolute;
    top : 0;
    right: 0;
    color : #30317c;
    font-size : 16px;
}

.act-tel-tab .move_radio label {
	padding-top: 4px;
    text-transform: capitalize;
    font-size: 16px;
    font-family: opensanssemibold;
}

.act-tel-tab .outer-wrapper .icon-carret-down-circle {
    border-radius: 50%;
    background: #bdd3ee;
}

.act-tel-tab .contacts{
	color : #30317c;
}

/* Search */

.act-tel-tab .search-box {
	background-color : #f8ecdb;
	border : 0;
}

.act-tel-tab .search-icon {
	padding-top: 12px;
    padding-right: 11px;
    padding-bottom: 2.5px;
    border : 0;
}

.icon-search {
	font-size : 22px;
	color : #30317c; 
}

.act-tel-tab .search-box::placeholder {
	font-size : 14px;
}

.act-tel-tab .input-group-append {
	margin-left : -47px;
	height: 5px;
    margin-top: 2px;
}

/* Card */

.act-tel-tab .cardlist {
	padding : 15px;
	border-radius : 20px;
	width : 100%;
	margin-bottom : 10px;
}

.act-tel-tab .col-card {
	text-align : left;
	font-size : 12px;
}

.act-tel-tab .col-card h5 {
	margin-bottom : 0;
	padding : 4px 0;
	font-family : opensansbold;
	font-size : 16px;
}

.act-tel-tab .cardnumber{
	text-align : center;
	color : #0d2c4c;
}

.act-tel-tab .cardnumber .big-number {
	font-size : 24px;
	font-family : opensansbold;
	padding : 10px 0 9px;
	line-height : 21px;
}

.act-tel-tab .cardnumber .contact {
	font-size : 16px;
	font-family : opensanssemibold;
}

.act-tel-tab .col-button {
	text-align : center;
	padding-top : 18px;
	color : #fff;
}

.act-tel-tab .col-button .btn-warning {
	background-color : #f26522;
    color: #fff;
    padding: 0px 6px;
    font-size: 19px;
    border-radius: 5px;
}

/* Modal */

#import-contact label{
	font-size : 16px;
	font-family : opensanssemibold;
}

#import-contact i{
	font-size : 14px;
	margin-top : 5px;
}

#import-contact button[type=submit] {
	background-color : #30317c;
	color : #fff;
}

/* update or result */

.act-tel-update {
	max-width : 800px !important;
}

/* customer */

table#datasubscriber > thead {
	background-color : antiquewhite;
}

#datasubscriber_filter > label > input[type='search']
{
	border : 1px solid #ccc;
	border-radius : 5px;
}

@media(max-width : 767px)
{
	.act-tel-create-list{
		padding : 25px;
	}
}