@font-face { 
  font-family: opensans; 
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face { 
  font-family: opensansxbold; 
  src: url("../fonts/OpenSans-ExtraBold.ttf");
}

@font-face { 
  font-family: opensansbold; 
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face { 
  font-family: opensansbolditalic; 
  src: url("../fonts/OpenSans-BoldItalic.ttf");
}

@font-face { 
  font-family: opensanssemibold; 
  src: url("../fonts/OpenSans-Semibold.ttf");
}

@font-face { 
  font-family: opensanslight; 
  src: url("../fonts/OpenSans-Light.ttf");
}

@font-face { 
  font-family: opensanslight_italic; 
  src: url("../fonts/OpenSans-LightItalic.ttf");
}

@font-face { 
  font-family: opensans_cbold; 
  src: url("../fonts/OpenSansCondensed-Bold.ttf");
}

@font-face { 
  font-family: opensans_clight; 
  src: url("../fonts/OpenSansCondensed-Light.ttf");
}

@font-face { 
  font-family: opensans_clightitalic; 
  src: url("../fonts/OpenSansCondensed-LightItalic.ttf");
}

body {
	font-family : opensans;
	margin : 0 !important;
}

a {cursor:pointer;}

.tel-color {
	color : #076ea0 !important;
}

.logo {
	width : 100%;
	max-width : 210px;
	outline : none;
	padding : 0;
	margin : 0;
	border : 0;
}

.col-fix {
	margin-left : 0 !important;
	margin-right : 0 !important;
}

.pad-fix {
	padding-left : 0 !important;
	padding-right : 0 !important;
}

/* Header */

.header-tel {
	padding-top : 20px	
}

.bg-telegram {
	background-color : #076ea0;
}

.bg-dashboard {
	background-color : #e2edf8;
}

/* Navbar */

.nav-link, .nav-item {
	font-family : opensanssemibold;
	font-size : 18px;
	color : #fff !important;
}

.nav-link.active, .dropdown-menu > .nav-link:hover {
	color : #f9ed24 !important;
}

.icon-cog {
	font-size : 24px;
}

.cog-pos {
	margin-top : 4px;
}

.dropdown-menu {
	background-color : rgba(0,95,142, 0.96);
	padding : 0 !important;
}

.dropdown-menu > .nav-link {
	text-align : left;
	font-family : opensanslight;
}

.cog-pos .dropdown-menu > .nav-link {
	text-align : center;
	font-size : 16px;
}

/* Register */

.act-tel-register {
	text-align : center;
	padding : 0.5rem 3rem;
	font-size : 16px;
}

.act-tel-register.wrapper a {
	color : #086ea0;
}

.act-tel-register.wrapper big {
	font-family : opensansxbold;
	color : #086ea0;
	font-size : 64px;
}

.act-tel-register label {
	font-family : opensanssemibold;
}

.act-tel-register.wrapper label {
	text-transform : capitalize;
	padding-top : 0;
}

.act-tel-register .btn-custom {
	background : #086ea0;
	color : #fff;
}

.act-tel-register .form-control, {
	background-color : #bdd3ee;
}

.act-tel-register .add-contact {
	text-align : left;
	margin-top: 1rem;
}

.act-tel-register.wrapper {
	max-width : 550px;
	margin-left : auto;
	margin-right : auto;
}

.act-tel-register hr {
	border : 1px solid #086ea0;
}

.act-tel-register.wrapper sb {
	font-family : opensanssemibold;
}

.act-tel-register.wrapper .checkbox-left {
	margin-left : 2rem;
}

/* Login */

.act-tel-login {
	text-align : center;
	padding : 0.5rem 3rem;
	font-size : 16px;
}

.act-tel-login.wrapper a {
	color : #086ea0;
}

.act-tel-login.wrapper big {
	font-family : opensansxbold;
	color : #086ea0;
	font-size : 64px;
}

.act-tel-login.wrapper {
	max-width : 550px;
	margin-left : auto;
	margin-right : auto;
}

.act-tel-login label {
	font-family : opensanssemibold;
}

.act-tel-login.wrapper label {
	text-transform : capitalize;
	padding-top : 0;
}

.act-tel-login hr {
	border : 1px solid #086ea0;
}

.act-tel-login.wrapper sb {
	font-family : opensanssemibold;
}

.act-tel-login.wrapper .checkbox-left {
	margin-left : 2rem;
}

.act-tel-login .btn-custom {
	background : #086ea0;
	color : #fff;
}

.act-tel-login .form-control, {
	background-color : #bdd3ee;
}

.act-tel-login .add-contact {
	text-align : left;
	margin-top: 1rem;
}

/* Footer */

.footer {
	text-align : center;
	color : rgba(49,69,99,.65);
	font-family : opensans;
	font-size : 16px;
	padding-bottom : 20px
}

.footer b {
	font-family : opensansbold;
}
