@font-face { 
  font-family: opensans; 
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face { 
  font-family: opensansbold; 
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face { 
  font-family: opensansbolditalic; 
  src: url("../fonts/OpenSans-BoldItalic.ttf");
}

@font-face { 
  font-family: opensanssemibold; 
  src: url("../fonts/OpenSans-Semibold.ttf");
}

@font-face { 
  font-family: opensanslight; 
  src: url("../fonts/OpenSans-Light.ttf");
}

@font-face { 
  font-family: opensans_cbold; 
  src: url("../fonts/OpenSansCondensed-Bold.ttf");
}

@font-face { 
  font-family: opensans_clight; 
  src: url("../fonts/OpenSansCondensed-Light.ttf");
}

@font-face { 
  font-family: opensans_clightitalic; 
  src: url("../fonts/OpenSansCondensed-LightItalic.ttf");
}

body {
	font-family : opensans;
	margin : 0 !important;
}

.tel-color {
	color : #076ea0 !important;
}

.logo {
	width : 100%;
	max-width : 210px;
	outline : none;
	padding : 0;
	margin : 0;
	border : 0;
}

.col-fix {
	margin-left : 0 !important;
	margin-right : 0 !important;
}

/* Header */

.header-tel {
	padding-top : 20px	
}

.bg-telegram {
	background-color : #076ea0;
}

/* Navbar */

.nav-link, .nav-item {
	font-family : opensansbold;
	font-size : 18px;
	color : #fff !important;
}

.nav-link.active, .dropdown-menu > .nav-link:hover {
	color : #f9ed24 !important;
}

.icon-cog {
	font-size : 24px;
}

.cog-pos {
	margin-top : 4px;
}

.dropdown-menu {
	background-color : rgba(0,95,142, 0.96);
	padding : 0 !important;
}

.dropdown-menu > .nav-link {
	text-align : left;
	font-family : opensanslight;
}

/* Footer */

.footer {
	text-align : center;
	color : rgba(49,69,99,.65);
	font-family : opensans;
	font-size : 16px;
	padding-bottom : 20px
}

.footer b {
	font-family : opensansbold;
}
