@font-face { 
  font-family: opensans; 
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face { 
  font-family: opensansbold; 
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face { 
  font-family: opensans_cbold; 
  src: url("../fonts/OpenSansCondensed-Bold.ttf");
}

@font-face { 
  font-family: opensans_clight; 
  src: url("../fonts/OpenSansCondensed-Light.ttf");
}

@font-face { 
  font-family: opensans_clightitalic; 
  src: url("../fonts/OpenSansCondensed-LightItalic.ttf");
}

body {
	font-family : opensans;
	margin : 0 !important;
}

.logo {
	width : 100%;
	max-width : 300px;
	outline : none;
	padding : 0;
	margin : 0;
	border : 0;
}

/* Header */

.header-tel {
	padding-top : 40px	
}

.bg-telegram {
	background-color : #076ea0;
}

/* Navbar */

.nav-link {
	font-family : opensansbold;
	font-size : 18px;
	color : #fff !important;
}

.nav-link.active {
	color : #f9ed24 !important;
}

