
/* CSS Document */
body,
html {
  width: 100%;
  height: 100%;
  background-image: none;
}

.main-pricing{
  background-color : #e7e9f5;
  border-radius: 25px;
  .div-range-slider{
    margin-bottom : 22px;
  }
  .box-pricing{
    display : inline-block!important;
    .box-in{
      border-radius : 0 0 25px 25px;
      background-color : #d6d6ec;
    }
    .div-header{
      background-color : #c1c2d6;
    }
    border :0px;
  }
}

/*PAGE TITLE*/
.page-title {
  background-image: url(../img/pricing-bg-1.jpg);
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 350px;
  margin-bottom: 0px;
  margin-top: -25px;
}

.page-title.ads {
  padding-top: 50px; 
  padding-bottom: 120px;
}

.page-title h1 {
  text-align: center;
  /*color: #1B8AF3;*/
  color: #fff;
  font-size: 48px;
  font-family: opensanslight;
}

.page-title h1 > strong {
  font-family: opensansbold;
}


.right-ribbon {
  width  :22px;
  height : 71px;
  background : url('../image/right-best-seller.png') no-repeat;
  float : right;
  margin-right: -22px;
  margin-top: -47px;
}

