.error {
	color : red;
}

.wraptext {
   display: block;
   width: 200px;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.display_popup, small {
	color : #3490dc !important;
	cursor : pointer;
}

.message-text, .copy {
	color : #428bca !important;
	cursor : pointer;
}

.nav-link.active {
	color : #428bca !important;
}

.marker {
	background-color : transparent !important;
}

.ck-browser {
	width : 100%;
	max-width : 200px;
	cursor : pointer;
	border : 1px solid transparent;
}

.ck-browser:hover {
	border : 1px solid #999;
}

.ck-border {
	padding : 15px;
	border : 1px solid #dcdcdc;
}

#append, #appendoption {
	padding : 15px;	
}

.hiddendropdown 
{
	display : none;
}

.dropdownopt {
	background-color: #edf2ff;
    border-color: #edf2ff;
}