.error {
	color : red;
}

.wraptext {
   display: block;
   width: 200px;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.display_popup {
	color : #3490dc !important;
	cursor : pointer;
}

.message-text {
	color : #428bca !important;
	cursor : pointer;
}

.nav-link.active {
	color : #428bca !important;
}